@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    background-image: url(./images/bg-mobile.svg);
  }
  @media (min-width: 376px) {
    body {
        background-image: url(./images/bg-desktop.svg);
    }
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    @apply hover:border-hover-color;
    @apply hover:text-hover-color;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 100%;
    cursor: pointer;
    @apply lg:w-10;
    @apply lg:h-10;
  }
  a {
    cursor: pointer;
    font-weight: 600;
  }
}

.headingSize {
  font-size: clamp(1.6rem, 3vw, 3rem);
}

.paragraphSize {
  font-size: clamp(1rem, 1.3vw, 2.5rem);
}

.buttonTextSize {
  font-size: clamp(0.85rem, 1.2vw, 2.5rem);
}
